<!DOCTYPE HTML>
<html lang="en">
<head> 
	<meta charset="UTF-8">
	<title>Bootstrap - LESS</title>
  <link rel="stylesheet" href="../css/main.css"> 
</head>  
<body>
  <div class="component">
    <div class="recipe">
      <div class="sidebar-left">
        <div class="recipe-img">
          <img src="../img/img_bis/recipe-photo.jpg" alt="">
          <div class="recipe-voters">
            <div id="cpt-voter" class="recipe-voters-nb">+100</div>
            <ul class="recipe-voters-img">
              <li><img src="../img/img_bis/voter1.jpg" alt=""></li>
              <li><img src="../img/img_bis/voter2.jpg" alt=""></li>
              <li><img src="../img/img_bis/voter3.jpg" alt=""></li>
              <li><img src="../img/img_bis/voter4.jpg" alt=""></li>
              <li><img src="../img/img_bis/voter5.jpg" alt=""></li>
              <li><img src="../img/img_bis/voter6.jpg" alt=""></li>
              <li><img src="../img/img_bis/voter7.jpg" alt=""></li>
              
              <li><img src="../img/not_found.jpg" alt=""></li>
              <li><img src="../img/not_found.jpg" alt=""></li>
              <li><img src="../img/not_found.jpg" alt=""></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="sidebar-right">
        <div class="recipe-download">
            <a href="#" title="Download">
              <i class="ico ico-recipe"></i>
              <span>download<br>recipe</span>
            </a>
        </div>
        <div class="recipe-details">
           <em>Shrimp<small>with avocado</small></em> 
           <span><i class="ico ico-time"></i>40 min</span>
           <span><i class="ico ico-calorie"></i>430 calories</span>
        </div>
        <div class="recipe-votes">
           <span>9.8<br><small>121 votes</small></span>
           <a href="#" class="ico ico-toque"></a>
        </div>
      </div>
    </div>
  </div>
  <script src="../js/main.js" type="text/javascript"></script>
</body>
</html>
